@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Index";
}
<h2>Perfis Disponíveis</h2>
<p>
    @Html.ActionLink("Criar Novo Perfil", "Create")
</p>
<table class="table table-striped">
<thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Perfil</th>
        <th scope="col">Descrição das permissões</th>
    </tr>
</thead>
<tbody>
    @foreach (var item in Model)
    {

        <tr>
            <td> </td>
            <td  style="font-size:20px">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td></td>
        </tr>
    }
</tbody>
</table>

